@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --ColorPrimario: #201f51;
    --ColorSecundario: #f2f0ef;
    --ColorTerciario: #555486;

}
body{
    background-color: var(--ColorPrimario);
}


/* COMIENZO DEL HEADER */

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 90px;
    align-items: center;
    border-bottom:solid  #fbfafc 1px ;
    margin: 0 60px;
    border-bottom: solid #6a686d94 1px;
}
.logo-menu{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.botones{
    display: flex;
    align-items: center;
}

/*  Linea divisoria entre los botones dentro el div"botones"*/

.divisor-de-botones-cv-y-temaoscuro{
    padding: 7px 0px;
    margin: 10px;
}

/* LOGO DE PÁGINA */
h2{
    font-family: "Barlow", sans-serif;
    font-weight: 500;

    margin-bottom: 10px;
    font-size: 35px; 
    color: #fbfafc;
 }

 /* MENÚ DE PAGINA */

 nav a{
    margin-left: 45px;
}

/* Estilizo de manera general la etiqueta a, dandole propiedades predeterminadas */

.enlancesmenu{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    color:#fbfafc;
    
}
.enlancesmenu:hover{
    text-decoration: underline;
}

/* Boton de Tema oscuro de la página*/

.tema-oscuro{
    color: #fbfafc;
    border: solid #fbfafc 1px;
    border-radius: 50%;
    font-size: 13px;
    padding: 6px;
}
.tema-oscuro:hover{
    background-color: #535283;
}

/* Boton y texto de descargar CV */

.boton-descarga{
    background-color: #fbfafc;
    color: #211f50;
    border-radius: 50%;
    font-size: 13px;
    padding: 7px 8px;

}
.boton-descarga:hover{
    background-color: #d4d2d2;
}

.texto-descarga{
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-decoration: none;
    color:#fbfafc;
    padding-left: 10px ;
}
.texto-descarga:hover{
    text-decoration: underline;
}

/* FINAL DEL HEADER */


/* COMIENZA SECTION UNO */


.SectionUno{
    height: 40vw;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    padding: 0px 60px;
}

.SectionUno-A, .SectionUno-B, .SectionUno-C{
    flex-basis: 35%;
}


/* CONTENEDOR DIV A  */

.SectionUno-A{
    font-family: "Poppins", sans-serif;

}
.SectionUno-A h1{
    color:var(--ColorSecundario);
    font-weight: 200;
    font-size: 35px;
    line-height: 50px;
    padding-top: 35px;
    padding-bottom: 200px;
}
.Span-Section-Uno-A{

    font-weight: 400;
}

.contenedor-texto-iconosdecontactos h3{
    color:#ffffff;
    font-weight: 300;
    font-size: 22px;
    padding-bottom: 10px;

}

.div-en-linea{
    display: flex;
    flex-direction: row;
}

.contenedor-icono-y-enlace{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.contacto{
    color: var(--ColorSecundario);
    font-size: 30px;
    padding: 5px;
}

.link-contacto{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: var(--ColorSecundario);
    font-size: 13px;
    text-decoration: none;
    margin: 0 3px;
    padding: 7px 13px;
    border: solid #ffffff 1px;
    border-radius: 15px;


}
.link-contacto:hover{
    background-color: var(--ColorTerciario);
}



/* CONTENEDOR DIV B */

.SectionUno-B{
   padding-top: 35px;

}

.Foto-De-Perfil{
    height: 450px;
    margin: 20px;
}

.cuadradito2D{
    background-color: var(--ColorSecundario);
    width: 110px;
    height: 100px;
    transform: translate(300px, -390px);
}
.cuadradito2D h4{
    color: var(--ColorPrimario);
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding: 8px 12px;
}
.cuadradito2D p{
    color: var(--ColorPrimario);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding:0 12px;
}



/* CONTENEDOR DIV C  */
.SectionUno-C{
    padding-top: 35px;

}

.Figuras-MedioCirculo{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 35px;
    margin-right: 40px;
    padding-bottom: 240px;
}

.imagen-medio-circulo{
    height: 115px;
    width: 115px;
    
}

.SectionUno-C-1{
    padding-left: 20px;
}

.SectionUno-C-1 p{
    color: var(--ColorSecundario);
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-size: 13px;
}
.SectionUno-C-1 h4{
    color: var(--ColorSecundario);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 15px;
}



/* FINALIZA SECTION UNO */

/* COMIENZA SECTION DOS  */

.SectionDos{
    
    background-color: var(--ColorSecundario);
    color: var(--ColorPrimario);
    padding: 50px 60px;
}

.titulo-texto-habilidades{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
}

.titulo-texto-habilidades h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: var(--ColorPrimario);
    flex-basis: 50%;

}

.titulo-texto-habilidades p{
    font-family: "Barlow", sans-serif;
    color: var(--ColorPrimario);
    font-weight: 400;
    font-size: 13px;
    margin-left: 200px;
    flex-basis: 50%;
}

.contenedor-habilidades{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    padding: 40px;
}

.contenedor-habilidades p{
    color: var(--ColorPrimario);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.cuadradito-divisor{
    background-color:var(--ColorPrimario);
    height: 15px;
    width: 15px;
}
.hr-divisor-habilidades{
    border: 0;
    padding-top: 1px;
    background-color: #b9b7b7a2 ;
}

.ComillasGrandes{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 100px;
    margin-top: 60px;
    margin-bottom: 0px;

}


.alineacion-h2-hr{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.alineacion-h2-hr h2{
    color: var(--ColorPrimario);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 28px;
    flex-grow: 1;
}
.LetraNegrita{
    font-weight: 500;
}
.h2-2{
    padding-left: 15px;
}
.alineacion-h2-hr hr{
    flex-grow: 9;
    color: var(--ColorPrimario);
}

.contenedor-sticker-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
}
.circulo-rosa{
    height: 120px;
    width: 120px;
    padding: 0 80px;
}

.contenedor-sticker-texto p{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 0 80px;
}

/* FINALIZA SECTION DOS */


/* COMIENZA SECTION TRES  */

.SectionTres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px;


}

.Section-Tres-A{
    flex-basis: 50%;
}
.Section-Tres-A h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 34px;

}

.medio-circulo-rosa{
    height: 40px;
    width: 40px;
    transform: translate(250px, 0px);
}

.Section-Tres-A p{
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: var(--ColorSecundario);
}



.Section-Tres-B{
    flex-basis: 50%;
    padding: 0px 60px;
}

.Section-Tres-B p{
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
    color: var(--ColorSecundario);
    width: 150px;
    border: solid #fff 1px;
    border-radius: 14px;
    padding: 5px;
    
}

.Section-Tres-B h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: var(--ColorSecundario);
    padding: 15px 0px;
}
.hr-section-tres{
    border: 0px;
    padding-top: 1px;
    background-color: #b9b7b75d;
}

.Section-Tres-B h4{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: var(--ColorSecundario);
    padding: 20px 0px;
}

.botones-anterior-proximo{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.link-anterior{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: #ffffff96;
    padding: 10px;
    margin-right: 15px;
}
.link-anterior:hover{
    background-color: #181641cc;
    border-radius: 12px;
}

.link-proximo{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: var(--ColorSecundario);
    padding: 10px;
}

.link-proximo:hover{
    background-color: #181641cc;
    border-radius: 12px;
}



/* FINALIZA SECTION TRES */

/* COMIENZA SECTION CUATRO  */

.SectionCuatro{
    display: flex;
    flex-direction: row;
    padding: 40px 60px;
    background-color: var(--ColorSecundario);
}

/* Section Cuatro A */

.Section-Cuatro-A{
    flex-basis: 50%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 60px;
}

.Section-Cuatro-A h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: var(--ColorPrimario);

}

.SectionCuatro p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: var(--ColorPrimario);
    padding-top: 10px;
}

.link-proyecto-github{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: var(--ColorPrimario);
    padding: 5px;
    margin: 20px 0px;
    width: 50px;
    border: solid var(--ColorPrimario) 1px;
    border-radius: 13px;

}

.link-proyecto-github:hover{
    background-color: #55548648;
}

.SectionCuatro h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--ColorPrimario);
}

.Contenedor-ImagenYLink-Proyecto-A{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 150px;
}


/* Section Cuatro B */
.Section-Cuatro-B{
    flex-basis: 50%;
    padding-top: 30px;
    padding-left: 60px;

}
.Contenedor-ImagenYLink-Proyecto-B{
    display: flex;
    flex-direction: column;
}

.proyectos-1{
    width: 300px;
    height: 350px;
}

.proyectos-2{
    width: 350px;
    height: 250px;
}

.link-repositorio{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--ColorPrimario);
    margin-top: 300px;
}

.link-repositorio:hover{
    text-decoration: underline;
    color: #555486;
}


/* FINALIZA SECTION CUATRO */

/* COMIENZA EL FOOTER */

.Footer{
    padding: 0 60px;
    color: #ffffff;
    
}
.Footer-Section-Uno{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #6a686d94  1px;
    padding: 60px 0px ;
}
.contenedor-h2-p-footer{
    flex-basis: 60%;
}

.contenedor-h2-p-footer h2{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 28px;
}
.contenedor-h2-p-footer p{
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-size: 13px;
}
.circulo-rosa-hablemos{
    height: 120px;
    width: 120px;
    flex-basis: 20%;
}


.Footer-Section-Dos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}



/* FINAL DEL FOOTER */