*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 75px;
    align-items: center;
    background-color: #211f50;
}
.logo-menu{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.botones{
    display: flex;
    align-items: center;
    
}